{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Lista pracowników</title> {% endblock %}

{% block header %} <h1> Lista pracowników: </h1>{% endblock %}

 {% block body %}
     <table>
         <tr>
             <th>ID</th>
             <th>Login</th>
             <th>Adres Email</th>
             <th>Nr badga</th>
             <th>Dostępne środki</th>
             <th>Edytuj profil</th>
             <th>Doładuj zdalnie konto</th>
         </tr>
         {% for user in users %}
             <tr>
                 <td> {{ user.getId }} </td>
                 <td> {{ user.getUsername }} </td>
                 <td> {{  user.getEmail }} </td>
                 <td> {{  user.getBadgeNr }} </td>
                 <td> {{  user.getCash }} </td>
                 <td> <a href="{{ path('editemployee', {'id' : user.getId}) }}">Edytuj</a> </td>
                 <td>
                     <form method="post" action="{{ path('deposit', {'id' : user.getId}) }}">
                        <input style="width: 100px;" id="amount" type="number" step="1" min="1" name="amount">
                         <input type="submit" value="Doładuj">
                     </form>
                 </td>
             </tr>
         {% endfor %}
     </table>
 {% endblock %}