{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Twój profil</title> {% endblock %}

{% block header %} <h1> Twój profil </h1>{% endblock %}

 {% block body %}
     <table>
         <tr>
             <th>Login</th>
             <th>Adres Email</th>
             <th>Nr badga</th>
             <th>Dostępne środki</th>
             <th>Całkowite wydane środki</th>
             <th>Nabyty upust</th>
             <th>Uprawnienia</th>
            {# <th>Wpłać środki</th> #}
         </tr>


             <tr>
                 <td> {{ user.getUsername }} </td>
                 <td> {{  user.getEmail }} </td>
                 <td> {{  user.getBadgeNr }} </td>
                 <td> {{  user.getCash }} </td>
                 <td> {{  user.getMoneySpent }} </td>
                 <td> {{  user.getDiscount }} </td>
                 <td> {% for role in user.roles %}{{ role }}<br>{% endfor %} </td>
                {# <td>
                     <form method="post" action="{{ path('deposit', {'id' : user.getId}) }}">
                         <input id="amount" type="number" step="1" min="1" name="amount">
                         <input type="submit" value="Wpłać">
                     </form>
                 </td> #}
             </tr>

     </table>
 {% endblock %}