{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Historia zakupów</title> {% endblock %}

{% block header %} <h1> Historia Zakupów: </h1>{% endblock %}

 {% block body %}
     <table>
     <tr>
         <th>Nazwa produktu</th>
         <th>Cena jednostkowa</th>
         <th>Ilość</th>
         <th>Dostępny rabat</th>
         <th>Cena ogółem</th>
         <th>Data operacji</th>
         <th>Środki po operacji</th>
     </tr>
     {% for transaction in transactions %}
         <tr>
             <td> {{  transaction.getMachine }} </td>
             <td> {{  transaction.getPriceUnit }} </td>
             <td> {{  transaction.getQuantity }} </td>
             <td> {{  transaction.getUserDiscount }} </td>
             <td> {{  transaction.getPriceTotal }} </td>
             <td> {{  transaction.getCreated.format('d-m-y | h:i:s') }} </td>
             <td> {{  transaction.getMoneyLeft }} </td>

     {% endfor %}
 {% endblock %}