{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Obiadek</title> {% endblock %}

{% block header %} <h1>Na co masz dziś ochotę ? </h1>{% endblock %}

    {% block body %}

    <div class="canteenPriceList">
        <p style="font-size: 22px;">Ceny obiadu w zależności od koloru badga:</p>
        <p><span style="color: #0088CC">Niebieski: 1 zł</span></p>
        <p><span style="color: green">Zielony: 2 zł</span></p>
        <p><span style="color: yellow">Żółty: 10 zł</span></p>
        <p style="font-size: 16px;">Na kantynie nie obowiązują rabaty</p>
    </div>
    <div class="canteenMealContainer">
        <div class="canteenVege"> {#photo 3#}
            <div class="salad">  {#overlay#}
                <a href="{{ path('payfordinner', {'meal':'Wegetariańskie'}) }}"><img src="{{ asset('bundles/vending_machine/img/salad3.png') }}"/></a>
                <a class="link" href="{{ path('payfordinner', {'meal':'Wegetariańskie'}) }}"><p>Danie wegeteriańskie</p></a>
            </div>
        </div>
        <div class="canteenMeat">
            <div class="burger">
                <a href="{{ path('payfordinner', {'meal':'Mięsne'}) }}"><img src="{{ asset('bundles/vending_machine/img/burger2.png') }}"/></a>
                <a class="link" href="{{ path('payfordinner', {'meal':'Mięsne'}) }}"><p>Danie mięsne</p></a>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    {% endblock %}