<head>
    <title> Dodaj nowe produkty.</title>
    <link href="{{ asset('bundles/vending_machine/css/main.css') }}" type="text/css" rel="stylesheet"/>
</head>
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

<a href="{{ path('stockInMachine') }}"> Zobacz listę dostępnych produktów </a>
