{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title> Dodaj przedmiot </title> {% endblock %}

{% block header %} <h1> Dodaj nowy przedmiot do dystrybutora</h1> {% endblock %}

{% block body %}




    {{ form_start(form, {'attr': {'id': 'add_item_form'}}) }}

    <div>
        {{ form_label(form.productName) }}

        {{ form_widget(form.productName) }}

    </div>
    <div>
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}

    </div>
    <div>
        {{ form_label(form.stock) }}

        {{ form_widget(form.stock) }}
    </div>
    <div>
        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}
    </div>
    {{ form_errors(form) }}
    {{ form_end(form) }}

{% endblock %}









{#
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
#}