{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Automat</title> {% endblock %}

{% block header %} <h1>Automat do sprzedaży: </h1>{% endblock %}

    {% block body %}
        <table>
            <tr>
                <th>ID</th>
                <th>Nazwa produktu</th>
                <th>Cena</th>
                <th>Ilość na stanie</th>
                <th>Kup</th>
            </tr>

            {% for product in products %}
                <tr>
                    <td> {{ product.getId }} </td>
                    <td> {{ product.getProductName }} </td>
                    <td> {{  product.getPrice }} </td>
                    <td> {{  product.getStock }} </td>
                    <td>
                        <form method="post" action="{{ path('buyfrommachine', {'user_id' : user.getId, 'product_id' : product.getId}) }}">
                            <input id="quantity" type="number" step="1" min="1" max="{{ product.getStock }}" name="quantity">
                            <input type="submit" value="Kup">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}




