{% extends '@vending_machine/base.html.twig' %}

{% block title %} <title>Automat</title> {% endblock %}

{% block header %} <h1>Automat do sprzedaży: </h1>{% endblock %}

    {% block body %}
        <table>
            <tr>
                <th>ID</th>
                <th>Nazwa produktu</th>
                <th>Cena</th>
                <th>Ilość na stanie</th>
                <th>Akcja</th>
            </tr>

            {% for product in products %}
                <tr>
                    <td> {{ product.getId }} </td>
                    <td> {{ product.getProductName }} </td>
                    <td> {{  product.getPrice }} </td>
                    <td> {{  product.getStock }} </td>
                    <td> <a href="{{ path('editItem', {'id' : product.getId}) }}">Edytuj</a> </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}




