<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    {% block title %} <title>Projekt Badge</title> {% endblock %}
    <meta name="description" content="Użyteczności badga pracowniczego od strony gastronomicznej">
    <meta name="author" content="Berni">

    <link href="{{ asset('bundles/vending_machine/css/main.css') }}" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <nav>

                <div class="logincheckout">
                    <div class="logo"> <span style="color: brown"> Projekt</span> &copy; Badge</div>
                    <div class="loggedIn">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                               <span style="color: brown"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </span>
                            </a>
                            <div class="stankonta"> <p style="margin: 0;">Na koncie posiadasz : &nbsp  &nbsp<span style="color: brown; font-size: 22px;">  {{ app.user.cash }} </span></p></div>
                        {% else %}
                            <p style="margin-top: 0;"><a href="{{ path('fos_user_security_login') }}"> <span style="color: brown"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }} </span></a></p>
                            <p style="margin-bottom: 5px;"><a href="{{ path('fos_user_registration_register') }}"> <span style="color: brown"> {{ 'layout.register'|trans({}, 'FOSUserBundle') }} </span></a></p>
                        {% endif %}
                    </div>
              </div>
            <div style="clear: both;"></div>
            <div class="menu">
                <ol>
                    <li><a href="{{ path('homepage') }}"> Strona główna </a></li>
                    <li><a href="#"> Użytkownik</a>
                        <ul>
                            {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('fos_user_registration_register') }}"> Dodaj użytkownika </a></li>{% endif %}
                            {% if is_granted('ROLE_ADMIN') %} <li><a href="{{ path('showemployees') }}"> Lista użytkowników </a></li>{% endif %}
                            {% if is_granted('ROLE_USER') %}<li><a href="{{ path('fos_user_change_password') }}"> Zmień hasło </a></li>{% endif %}
                            {% if is_granted('ROLE_USER') %}<li><a href="{{ path('fos_user_resetting_request') }}"> Zresetuj hasło </a></li>{% endif %}
                            {% if is_granted('ROLE_USER') %}<li><a href="{{ path('fos_user_profile_edit') }}"> Edytuj profil </a></li>{% endif %}
                            {% if is_granted('ROLE_USER') %}<li><a href="{{ path('showprofile') }}"> Pokaż profil </a></li>{% endif %}
                        </ul>
                    </li>
                    <li><a href="#">Automat</a>
                        <ul>
                            {% if is_granted('ROLE_ADMIN') %} <li><a href="{{ path('newItem') }}"> Dodaj produkt </a></li>{% endif %}
                            {% if is_granted('ROLE_ADMIN') %} <li><a href="{{ path('stockInMachine') }}"> Stan magazynowy </a></li>{% endif %}
                            {% if is_granted('ROLE_USER') %} <li><a href="{{ path('stockInMachineUser') }}"> Kup produkt </a></li>{% endif %}
                        </ul>
                    </li>
                    <li><a href="#">Stołówka</a></li>
                    <li><a href="#">Historia</a>
                        <ul>
                            {% if is_granted('ROLE_USER') %}<li><a href="{{ path('showhistory') }}"> Zobacz historię zakupów </a></li>{% endif %}
                            {% if is_granted('ROLE_USER') %}<li><a href="{{ path('clearhistory') }}"> Wyczysć historię zakupów </a></li>{% endif %}
                        </ul>
                    </li>

                </ol>

            </div>


        </nav>

        <div class="content">

            {% block header %} <h1> Strona główna </h1>{% endblock %}

            {% block body %}{% endblock %}

            {# block fos_user_content %}{% endblock fos_user_content #}
        </div>

        <div class="footer">

        {% block footer %}

        {#
            <a href="{{ path('homepage') }}"> Strona startowa </a><br>
            <a href="{{ path('stockInMachine') }}"> Zobacz listę dostępnych produktów </a><br>
            <a href="{{ path('newItem') }}"> Dodaj przedmiot </a><br>
            <a href="{{ path('fos_user_registration_register') }}"> Dodaj użytkownika </a><br>
            <a href="{{ path('showemployees') }}"> Lista pracowników </a><br>
            <a href="{{ path('fos_user_change_password') }}"> Zmień hasło </a><br>
            <a href="{{ path('fos_user_resetting_request') }}"> Zresetuj hasło ( nie za bardzo działa - ogarnij ) </a><br>
            <a href="{{ path('fos_user_profile_edit') }}"> Edytuj profil ( do usunięcia, pracownik nie może zmieniać danych) </a><br>

            #}
        {% endblock %}

        </div>
    </div>
    <script src="{{ asset('bundles/vending_machine/jquery/jquery-1.11.3.min.js') }}"></script>

    <script>

        $(document).ready(function() {
            var NavY = $('.menu').offset().top;

            var stickyNav = function(){
                var ScrollY = $(window).scrollTop();

                if (ScrollY > NavY) {
                    $('.menu').addClass('sticky');
                } else {
                    $('.menu').removeClass('sticky');
                }
            };

            stickyNav();

            $(window).scroll(function() {
                stickyNav();
            });
        });

    </script>

</body>
</html>